In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-11-10 02:04:58,-42.8794,147.3294,81.05,46,0,14.97
1,1,Busselton,AU,2022-11-10 02:06:56,-33.6500,115.3333,63.86,74,99,14.36
2,2,Saint-Philippe,RE,2022-11-10 02:06:56,-21.3585,55.7679,69.39,74,62,6.29
3,3,Tiksi,RU,2022-11-10 02:06:57,71.6872,128.8694,-10.84,97,99,8.57
4,4,Balykshi,KZ,2022-11-10 02:06:57,47.0667,51.8667,32.00,86,75,6.71
...,...,...,...,...,...,...,...,...,...,...
536,536,Porto Novo,BJ,2022-11-10 02:21:06,6.4965,2.6036,77.31,88,45,5.30
537,537,Brunsbuttel,DE,2022-11-10 02:21:06,53.9000,9.1500,49.39,92,1,4.00
538,538,Lagoa,PT,2022-11-10 02:21:07,39.0500,-27.9833,67.89,86,100,26.22
539,539,Puerto Leguizamo,CO,2022-11-10 02:21:08,-0.1934,-74.7819,74.61,91,97,3.00
540,540,Fairbanks,US,2022-11-10 02:19:02,64.8378,-147.7164,18.09,87,100,0.00

In [3]:
negative_max_df = city_data_df.loc[((city_data_df['Max Temp'] <= 1))]
negative_max_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Tiksi,RU,2022-11-10 02:06:57,71.6872,128.8694,-10.84,97,99,8.57
5,5,Leningradskiy,RU,2022-11-10 02:06:57,69.3833,178.4167,0.12,87,100,4.76
7,7,Dikson,RU,2022-11-10 02:06:58,73.5069,80.5464,-4.38,100,19,9.22
37,37,Saskylakh,RU,2022-11-10 02:07:11,71.9167,114.0833,-16.49,98,94,6.20
64,64,Khatanga,RU,2022-11-10 02:08:22,71.9667,102.5000,-6.21,99,100,5.35
117,117,Chokurdakh,RU,2022-11-10 02:09:40,70.6333,147.9167,-8.70,99,100,8.68
133,133,Qaanaaq,GL,2022-11-10 02:09:46,77.4840,-69.3632,-7.51,60,95,6.17
208,208,Omsukchan,RU,2022-11-10 02:12:14,62.5333,155.8000,-11.56,95,100,3.89
230,230,Yar-Sale,RU,2022-11-10 02:13:22,66.8333,70.8333,-1.98,95,12,5.79
231,231,Turukhansk,RU,2022-11-10 02:13:23,65.8167,87.9833,-22.27,100,100,3.96
240,240,Batagay-Alyta,RU,2022-11-10 02:12:19,67.8006,130.4114,-14.48,89,80,3.06
354,354,Belaya Gora,RU,2022-11-10 02:16:01,68.5333,146.4167,-21.71,98,32,3.91
356,356,Igarka,RU,2022-11-10 02:16:01,67.4667,86.5833,-4.72,99,98,5.12
369,369,Khandyga,RU,2022-11-10 02:12:17,62.6667,135.6000,-15.68,91,100,3.33
371,371,Pevek,RU,2022-11-10 02:17:07,69.7008,170.3133,-6.05,99,100,3.22
374,374,Vegreville,CA,2022-11-10 02:17:08,53.5001,-112.0518,-7.29,77,5,5.75
378,378,Srednekolymsk,RU,2022-11-10 02:12:20,67.4500,153.6833,-2.94,97,100,3.49
394,394,Cherskiy,RU,2022-11-10 02:17:15,68.7500,161.3000,-2.99,97,100,8.55
420,420,Krasnoselkup,RU,2022-11-10 02:16:42,65.7000,82.4667,-17.73,100,49,2.30
446,446,La Ronge,CA,2022-11-10 02:18:33,55.1001,-105.2842,-5.55,77,20,2.30
486,486,Sangar,RU,2022-11-10 02:19:48,63.9242,127.4739,-6.16,93,100,8.25
497,497,Verkhoyansk,RU,2022-11-10 02:19:52,67.5447,133.3850,-9.47,97,98,2.53

In [4]:
negative_max_df[["City_ID"]]

     City_ID
3          3
5          5
7          7
37        37
64        64
117      117
133      133
208      208
230      230
231      231
240      240
354      354
356      356
369      369
371      371
374      374
378      378
394      394
420      420
446      446
486      486
497      497

In [5]:
negative_max = negative_max_df['City_ID'].tolist()
  
# show the list
print(negative_max)

[3, 5, 7, 37, 64, 117, 133, 208, 230, 231, 240, 354, 356, 369, 371, 374, 378, 394, 420, 446, 486, 497]

In [6]:
city_data_df.drop([3, 5, 7, 37, 64, 117, 133, 208, 230, 231, 240, 354, 356, 369, 371, 374, 378, 394, 420, 446, 486, 497], inplace = True)
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-11-10 02:04:58,-42.8794,147.3294,81.05,46,0,14.97
1,1,Busselton,AU,2022-11-10 02:06:56,-33.6500,115.3333,63.86,74,99,14.36
2,2,Saint-Philippe,RE,2022-11-10 02:06:56,-21.3585,55.7679,69.39,74,62,6.29
4,4,Balykshi,KZ,2022-11-10 02:06:57,47.0667,51.8667,32.00,86,75,6.71
6,6,Tuktoyaktuk,CA,2022-11-10 02:06:58,69.4541,-133.0374,16.95,93,94,11.92
...,...,...,...,...,...,...,...,...,...,...
536,536,Porto Novo,BJ,2022-11-10 02:21:06,6.4965,2.6036,77.31,88,45,5.30
537,537,Brunsbuttel,DE,2022-11-10 02:21:06,53.9000,9.1500,49.39,92,1,4.00
538,538,Lagoa,PT,2022-11-10 02:21:07,39.0500,-27.9833,67.89,86,100,26.22
539,539,Puerto Leguizamo,CO,2022-11-10 02:21:08,-0.1934,-74.7819,74.61,91,97,3.00
540,540,Fairbanks,US,2022-11-10 02:19:02,64.8378,-147.7164,18.09,87,100,0.00

In [7]:
city_data_df = city_data_df.reset_index()
city_data_df

,index,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,0,Hobart,AU,2022-11-10 02:04:58,-42.8794,147.3294,81.05,46,0,14.97
1,1,1,Busselton,AU,2022-11-10 02:06:56,-33.6500,115.3333,63.86,74,99,14.36
2,2,2,Saint-Philippe,RE,2022-11-10 02:06:56,-21.3585,55.7679,69.39,74,62,6.29
3,4,4,Balykshi,KZ,2022-11-10 02:06:57,47.0667,51.8667,32.00,86,75,6.71
4,6,6,Tuktoyaktuk,CA,2022-11-10 02:06:58,69.4541,-133.0374,16.95,93,94,11.92
...,...,...,...,...,...,...,...,...,...,...,...
514,536,536,Porto Novo,BJ,2022-11-10 02:21:06,6.4965,2.6036,77.31,88,45,5.30
515,537,537,Brunsbuttel,DE,2022-11-10 02:21:06,53.9000,9.1500,49.39,92,1,4.00
516,538,538,Lagoa,PT,2022-11-10 02:21:07,39.0500,-27.9833,67.89,86,100,26.22
517,539,539,Puerto Leguizamo,CO,2022-11-10 02:21:08,-0.1934,-74.7819,74.61,91,97,3.00
518,540,540,Fairbanks,US,2022-11-10 02:19:02,64.8378,-147.7164,18.09,87,100,0.00

In [8]:
city_data_df.dtypes

index           int64
City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# EXAMPLE: heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# 5. Add the heatmap layer.
# EXAMPLE: fig.add_layer(heatmap_layer)
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))