In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-11-10 02:04:58,-42.8794,147.3294,81.05,46,0,14.97
1,1,Busselton,AU,2022-11-10 02:06:56,-33.6500,115.3333,63.86,74,99,14.36
2,2,Saint-Philippe,RE,2022-11-10 02:06:56,-21.3585,55.7679,69.39,74,62,6.29
3,3,Tiksi,RU,2022-11-10 02:06:57,71.6872,128.8694,-10.84,97,99,8.57
4,4,Balykshi,KZ,2022-11-10 02:06:57,47.0667,51.8667,32.00,86,75,6.71
...,...,...,...,...,...,...,...,...,...,...
536,536,Porto Novo,BJ,2022-11-10 02:21:06,6.4965,2.6036,77.31,88,45,5.30
537,537,Brunsbuttel,DE,2022-11-10 02:21:06,53.9000,9.1500,49.39,92,1,4.00
538,538,Lagoa,PT,2022-11-10 02:21:07,39.0500,-27.9833,67.89,86,100,26.22
539,539,Puerto Leguizamo,CO,2022-11-10 02:21:08,-0.1934,-74.7819,74.61,91,97,3.00
540,540,Fairbanks,US,2022-11-10 02:19:02,64.8378,-147.7164,18.09,87,100,0.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# EXAMPLE: heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
# EXAMPLE: fig.add_layer(heatmap_layer)
fig.add_layer(heat_layer) 

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=50, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-11-10 02:04:58,-42.8794,147.3294,81.05,46,0,14.97
8,8,Shenzhen,CN,2022-11-10 02:02:49,22.5455,114.0683,79.93,83,2,1.99
11,11,Kokopo,PG,2022-11-10 02:06:59,-4.3520,152.2633,85.96,65,98,9.42
18,18,Gizo,SB,2022-11-10 02:07:02,-8.1030,156.8419,83.37,75,100,6.38
19,19,Angoche,MZ,2022-11-10 02:07:02,-16.2325,39.9086,75.25,82,46,10.96
27,27,Sur,OM,2022-11-10 02:07:06,22.5667,59.5289,78.57,55,0,1.32
28,28,Hambantota,LK,2022-11-10 02:03:53,6.1241,81.1185,75.54,100,75,2.30
35,35,Bol,TD,2022-11-10 02:07:10,13.4586,14.7147,78.53,39,12,14.56
36,36,Faanui,PF,2022-11-10 02:07:10,-16.4833,-151.7500,79.79,76,99,14.79
38,38,Hilo,US,2022-11-10 02:06:48,19.7297,-155.0900,80.33,74,20,9.22

In [12]:
preferred_cities_df.count()

City_ID       147
City          147
Country       147
Date          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Hobart      AU     81.05 -42.8794  147.3294
8     Shenzhen      CN     79.93  22.5455  114.0683
11      Kokopo      PG     85.96  -4.3520  152.2633
18        Gizo      SB     83.37  -8.1030  156.8419
19     Angoche      MZ     75.25 -16.2325   39.9086
27         Sur      OM     78.57  22.5667   59.5289
28  Hambantota      LK     75.54   6.1241   81.1185
35         Bol      TD     78.53  13.4586   14.7147
36      Faanui      PF     79.79 -16.4833 -151.7500
38        Hilo      US     80.33  19.7297 -155.0900

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hobart,AU,81.05,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
8,Shenzhen,CN,79.93,22.5455,114.0683,Grand Skylight
11,Kokopo,PG,85.96,-4.3520,152.2633,Kokopo Beach Bungalow Resort
18,Gizo,SB,83.37,-8.1030,156.8419,Imagination Island
19,Angoche,MZ,75.25,-16.2325,39.9086,Guest House HESADA
...,...,...,...,...,...,...
525,Balikpapan,ID,83.39,-1.2675,116.8289,Swiss-Belhotel Balikpapan
527,Karratha,AU,80.44,-20.7377,116.8463,ibis Styles Karratha
529,Gold Coast,AU,81.77,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
533,Gigmoto,PH,84.49,13.7796,124.3900,Cj's Travellers Inn
536,Porto Novo,BJ,77.31,6.4965,2.6036,Tour Eiffel Hotel Benin

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))